.entradaPalpite {
  text-align: left;
  margin: 20px 0;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.entradaPalpite p{
  margin-bottom: 10px;
  font-weight: bold;
  color: #4a4f99;
}
.entradaPalpite input {
  padding: 8px;
  font-size: 1em;
  border: 2px solid #4a4f99;
  border-radius: 5px;
  margin-right: 10px;
  width: 50px;
  text-align: center;
  background-color: #f5f5fa;
}

.entradaPalpite button {
  padding: 8px 15px;
  font-size: 1em;
  background-color: #4a4f99;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.entradaPalpite button:hover {
  background-color: #4a4f99;
}