@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.app {
  max-width: 500px;
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  height: auto;
}